body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    background: url("/imagens_site/fundo.jpg") no-repeat center center fixed;
    
    background-size: cover;
    -webkit-background-size: cover; /* SAFARI / CHROME */
    -moz-background-size: cover; /* FIREFOX */
    -ms-background-size: cover; /* IE */
    -o-background-size: cover; /* OPERA */
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}

.bg-1 { 
    
    color: #ffffff;
    text-shadow: 1px 1px 3px #000000;
}
.btn-cad{
    background-color: transparent;
    color: #ffffff;
}
.btn-cad:hover{
    color: #0d730d !important;
    text-shadow: none;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: rgba(194, 194, 194, 0.9); /* White */
    color: #555555;
    border-bottom: 6px #0d730d;
}
.bg-3 span{
    color: #555555;
}




.bg-5 { 
    background-color: rgba(255, 255, 255, 0.9); /* White */
    color: #555555;
    border-bottom: 6px #0d730d;
}
.bg-5 span{
    color: #555555;
}





.bg-6 { 
    background-color: rgba(65, 58, 58, 0.9); /* White */
    color: #ffffff;
    border-bottom: 6px solid #0d730d;
}
.bg-6 span{
    color: #555555;
}




.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-bottom: 6px solid #0d730d;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #0d730d !important;
}
.material-icons{
    font-size: 5em;
}
